@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Staatliches', cursive;
}

.touch {
  -webkit-overflow-scrolling: touch;
}

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
